*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  
  color: #0A314B;
    font-size: 14px;
    font-family: 'Oswald', sans-serif;
}


a{
  color: #0A314B;
  text-decoration: none;
}

ul{
  list-style: none;
}

.Contenedor{
  width: 90%;
  margin: auto;
}

/*Estilos de navegación*/
.nav_main{
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 20px 0 ;
  background: #334d50;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #cbcaa5, #334d50);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #cbcaa5, #334d50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  width: 90%;
  z-index: 20;
}

.nav_logo{
  width: 65px;
}

.nav_main ul{
  display: flex;
}

.nav_main ul li{
  padding: 20px;
}

.nav_main ul li a{
  padding: 6px;
}

.nav_main ul li a:hover{
  border-bottom: 2px solid #0A314B;
}

.nav_main ul.nav_menú{
  flex: 1;
  margin-left: 20px ;
}

/* Navbar */
.navbar{
  min-height: 80px !important;
  margin-bottom:0;
  border-radius:0;
}

.navbar-nav > li > a, .navbar-brand{
  padding-top:6px !important;
  padding-bottom:0 !important;
  height: 33px;
}

.navbar-default {
  background-color: #eb6f31;
  border-color: #ab5226;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #ab5226;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #ab5226;
}
.navbar-default .navbar-toggle {
  border-color: #ab5226;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ab5226;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}




/* Custom */
.color-principal, .panel-default > .panel-heading{
  background-color: #153d57 !important;
  border-color: #153d57  !important;
  color:#ffffff !important;
  font-family: 'Oswald', sans-serif;
}


/* Breadcrumb */
.breadcrumb{
  background:#cccccc;
  color:#333333;
}

.breadcrumb a{
  color:#333333;
}


.dash-box{
  text-align:center;
}


/* Footer */
#footer{
  background: #334d50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #cbcaa5, #334d50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #cbcaa5, #334d50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #0A314B;
  text-align:center;
  padding:30px;
  margin-top:30px;
}


@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #ab5226;
  }
}