*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    color: #0A314B;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
}

a{
    color: #0A314B;
    text-decoration: none;
}

ul{
    list-style: none;
}

.Contenedor{
    width: 90%;
    margin: auto;
}

/*Estilos de navegación*/
.nav_main{
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 20px 0 ;
    background: #334d50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #cbcaa5, #334d50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #cbcaa5, #334d50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: fixed;
    width: 90%;
    z-index: 20;
}

.nav_logo{
    width: 65px;
}

.nav_main ul{
    display: flex;
}

.nav_main ul li{
    padding: 20px;
}

.nav_main ul li a{
    padding: 6px;
}

.nav_main ul li a:hover{
    border-bottom: 2px solid #0A314B;
}

.nav_main ul.nav_menú{
    flex: 1;
    margin-left: 20px ;
}

.nav_main ul.nav_menú li{
    padding: 20px;
    font-size: 14px;

}
.nav_main  ul.nav_menú_derecha{
    margin-right: 50px;
}

.menú-btn{
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 100px;
    z-index: 25;
    font-size: 1.5rem;
    display: none;
}

/*Portada*/
.portada{
    width: 100%;
    height: 400px;
    background: url("imgs/img5.jpg") no-repeat center center/cover;
    padding-bottom: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    color: #0A314B;
    padding: 50px;
}
h2{
    align-content: center;
    padding-left: 45px;
}


.wlc{
    align-content: center;
    padding-left: 55px;
}

.btnp {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: normal;
    padding: 8px 16px;
    background: #0A314B;
    color: white;
    font-size: 10px;
    border: 1px  white;
    margin: 10px 0;
    margin-left: 40px;
}

.btnp:hover{
    opacity: .7 ;
}
.portada{
    margin-bottom: 10px;
}

/*Galería*/
.galería{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 35px;
    margin: 20px 0;
}

.galería img{
    width: 290px;
    height: 180px;
    align-items: center;
}

.galería h3{
    font-size: 12px;
    font-weight: normal;
}
 p{
     font-size: 12px;
     font-weight: normal;
     text-align: justify;
 }

 .galería a{
     padding: 10px 0;
     color: white;
     font-weight: normal;
     text-transform: uppercase;
     display: inline-block;
 }

 .galería a:hover{
     text-decoration: underline;
 }

/* Sección Servicios*/
.servicios{
    width: 100% ;
    height: 350px;
    background: url("imgs/img8.jpeg") no-repeat center center/cover ;
    margin-bottom: 40px;
}

.servicios .content{
    width: 40%;
    padding: 200px 10px 0 10px ;
    color: white;
    font-weight: normal;
}

/*Sección ubicación*/

.ubicación {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 400px;
    margin-bottom: 200px;
}
.ubicación-content h2{
    margin-left: -45px;
    margin-bottom: 30px;
    font-size: 14px;
    text-transform: uppercase;
    
}
.formulario_map {
    margin-left: 40px;
    align-content: center;
}
.formulario_map h2 {
    text-transform: uppercase;
    margin-bottom: 30px;
    font-size: 14px;
    margin-left: -50px;
    font-family: 'Oswald', sans-serif;
}
.formulario_map p {
    font-size: 14px;
    margin-bottom: 20px;
    font-family: 'Oswald', sans-serif;
}
.formulario_map h4{
    margin-top: 20px;
    font-weight: normal;
    font-family: 'Oswald', sans-serif;
}
.formulario_map button{
    margin-top: 30px;
    height: 32px;
    width: 30%;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #0A314B;
    border: 0;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
}
.formulario_map input{
    height: 32px;
    width: 70%;
}

.somos{
    text-align: center;
    background-image: url("imgs/Empresa.jpg");
    display: flex;
    flex-direction: row;
    width: 90%;
    color: #19303f;
    margin: auto;
    overflow: hidden;
    font-family: 'Oswald', sans-serif;
    
}
.somos article p{
    margin-left: 50px;
    margin-right: 20px;
    font-size: 14px;
}
.somos article .h_2{
    margin-left: -20px;
    margin-top: 80px;
    margin-bottom: 20px ;
}

.acerca{
   height: 300px;
   width: 445px;
   float: left;
}
.vision{
    height: 300px;
    width: 445px;
    float: left;
}
.mision{
    height: 300px;
    width: 445px;
    float: left;
}

/*Footer*/

/*@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');*/
footer{
    margin: 0;
    padding: 10px;
    color: #0A314B;
    box-sizing: border-box;
    bottom: 0px;
    width: 100%;
    background: #334d50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #cbcaa5, #334d50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #cbcaa5, #334d50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
;
}

.main-content{
    display: flex;
}

.main-content .contenido{
    flex-basis: 50%;
    padding: 10px 20px;
}

.contenido h2{
    font-size: 18px ;
    font-weight: 600;
    text-transform: uppercase;
}

.contenido .content{
    margin: 20px 0 0 0;
}

.contenido .content p{
    text-align: justify;
    align-content: center;
    font-size: 14px;
}

.content span{
color: #0A314B;
}

.izquierda .content{
    padding: 20px;
}

.central .content{
    padding: 10px;
}


.central .content .fas{
    font-size: 1.4375rem;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
    background: white;
}

.central .content .fas:hover{
    background: gray;
}

.central .content .text{
    font-size: 12px;
    text-align: justify;
    font-weight: 500;
    padding-left: 10px;
}

.central .content .teléfono{
    margin: 10px 0;
}

.derecho form .msg{
     margin-top: 10px;
}

.derecho form .text{
    font-size: 12px;
    margin-bottom: 2px;
    color: black;
}

.derecho form input, .derecho form textarea{
    width: 100%;
    font-size: 14px;
    background: #334d50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #cbcaa5, #334d50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #cbcaa5, #334d50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-left: 10px;

}

.derecho form input:focus,
.derecho form textarea:focus{
    outline-color: black;
}

.derecho form input{
    height: 35px;
}

.derecho form .btn{
    margin-top: 10px;
}

.derecho form .btn button{
    height: 30px;
    width: 30px;
    width: 100%;
    text-align: center;
    outline: none;
    border: none;
    background: #334d50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #cbcaa5, #334d50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #cbcaa5, #334d50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    color: black;
    font-size: 16px;


}

.derecho form .btn button:hover{
    background: #656565;
}


/*login*/


.modalContainer {
    display: none; 
    position: fixed; 
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.8);
    opacity: 88%;
}

.modalContainer .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 10px;
    border: 1px solid lightgray;
    width: 30%;
    height: 400px;
    border-radius: 20px;
}

.modalContainer .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modalContainer .close:hover,
.modalContainer .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.reg_caja{
    display: flex;
    flex-direction: row;
}

.reg_caja {
    height: 500px;
    width: 100%;
    float: left;
    display: flex;
    flex-direction: column;
}
.reg_caja label{
    margin-left: 38%;
    margin-bottom: 10px;
    margin-top: 40px;
    font-size: 32px;
}
.reg_caja input{
    width: 60%;
    height: 32px;
    margin-left: 20%;
    margin-bottom: 20px;
    border: solid 2px;
}
.reg_caja button {
    width: 20%;
    height: 32px;
    margin-left: 40%;
    background-color: green;
    cursor: pointer;
    color: white;
}
.reg_caja img {
    width: 80px;
    height: 80px;
    margin-left: 40%;
    margin-bottom: 5%;
}

/*----- Responsive-----*/

@media (max-width: 700px){
    .nav_main ul.nav_menú{
        display:block;
        position: absolute;
        top: 0;
        left: 0;
        background: #2f3640 ;
        height: 100%;
        transform: translateX(-400px);
        padding: 30px;
        opacity:.9 ;
        transition: transform .5s ease-in-out;
    }

    .nav_main ul.nav_menú.show{
        transform: translateX(-20px);
    }

    .nav_main ul.nav_menú li{
        padding: 20px;
        font-size: 14px;

    }
    .nav_main ul li a{
        color: white;
    }
    .menú-btn{
        color: white;
        right: 50px;
        display: block;
    }
    .galería{
        grid-template-columns: repeat(2, 1fr);
    }

    .ubicación-content{
        width: 50%;
        height: 50%;
    }

}

@media (max-width: 500px){

    .portada{
        background: url("imgs/img5.jpg") no-repeat center center/cover;
        width: 500px;
        height: 400px;
    }
    .galería{
        grid-template-columns: 1fr;
    }

    .galería img{
        height: 270px;
    }

    .ubicación-content, .formulario_map{
        width: 100%;
        padding: 60px 20px;
    }

    footer .main-content{
        grid-template-columns: 1fr;
    }
    .menú-btn{
        color: white;
        right: -70px;
        display: block;
    }

    



}





















